@model TShop.ViewModels.SharedViewModel
@{
    ViewData["Title"] = "AccountProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- My Account Start -->
<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Dashboard</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                    <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Payment Method</a>
                    <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">address</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                    <a class="nav-link" asp-action="Logout" asp-controller="User">Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <!-- Dashboard -->
                    @await Html.PartialAsync("Dashboard")

                    <!-- orders-tab -->
                    @await Html.PartialAsync("OrdersTab")

                    <!-- Payment Method -->
                    @await Html.PartialAsync("PaymentMethod")

                    <!-- Address -->
                    @await Html.PartialAsync("Address", Model)

                    <!-- Account Details -->
                    @await Html.PartialAsync("AccountDetails", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->
