@model TShop.ViewModels.SharedViewModel

<div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
    <h4>Address</h4>
    <div class="row">
        <div class="col-md-6">
            <h5>Payment Address</h5>
            <p>@Model.UserVM.Address</p>
            <p>Mobile: @Model.UserVM.Phone</p>
            <button>Edit Address</button>
        </div>
        <div class="col-md-6">
            <h5>Shipping Address</h5>
            <p>@Model.UserVM.Address</p>
            <p>Mobile: @Model.UserVM.Phone</p>
            <button>Edit Address</button>
        </div>
    </div>
</div>