<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="category-img">
                    <img src="~/image/Laptop_Dell1.jpg" />
                    <a class="category-name" asp-action="Index" asp-controller="Product" asp-route-categoryId="2">
                        <h2>Laptop</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="~/image/Table_Apple1.jpg" />
                    <a class="category-name" asp-action="Index" asp-controller="Product" asp-route-categoryId="4">
                        <h2>Table</h2>
                    </a>
                </div>
                <div class="category-img">
                    <img src="~/image/Watch_Samsung1.jpg" />
                    <a class="category-name" asp-action="Index" asp-controller="Product" asp-route-categoryId="3">
                        <h2>Smart Watch</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="~/image/Telephone_ASUS1.jpg" />
                    <a class="category-name" asp-action="Index" asp-controller="Product" asp-route-categoryId="1">
                        <h2>Smart Phone</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>