<div class="home-slider">
    <div class="main-slider">
        <div class="main-slider-item"><img src="~/image/Table_Samsung1.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="~/image/Table_Samsung2.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="~/image/Table_Samsung3.jpg" alt="Slider Image" /></div>
    </div>
</div>